%h1 Invitations#new

= form_tag({controller: 'invitations', action: 'create'}, class: 'form form-horizontal game') do
  .form-group  
    / = hidden_field_tag(:game_id, @game_id)
    %p
      = label_tag :name
      = text_field_tag :name, nil, required: true
    %p
      = label_tag :surname
      = text_field_tag :surname, nil, required: true

    %p
      = label_tag :email
      = email_field_tag :email, nil, required: true

    %p
      = label_tag :game_id
      = select_tag :game_id, options_for_select(Game.all.map{ |g| [g.name, g.id] })

    = submit_tag('Invite...') 
  