.row
  .col-md-6
    %select{id: 'selected_user_id', class: 'form-control'}
      %option{value: 0, id: 'option_user_id_0'} 
        (Select user)
      - User.all.order("name asc").each do |u|
        %option{value: u.id, id: 'option_user_id_' + u.id.to_s} 
          = u
  .col-md-1      
    = link_to 'add','#', id: 'add_link', class: 'btn btn-success not-active'

%h3 Users:
%ul{id: 'users_list', class: 'list-group'}
  - GameUser.get_users(params[:id]).each do |gu|
    :javascript
      $("#users_list").append(get_user_li_tag(#{gu.user_id}, '#{gu.user}', true, #{gu.id}))
