.row
  .col-md-6
    %select{id: 'selected_user_id', class: 'form-control'}
      %option{value: 0, id: 'option_user_id_0'} 
        (#{t('user.select_user')})
      - chosed_users_id = Game.find_by(id: game.id).users.map {|el| el.id} if game.id
      - User.all_name_asc.each do |u|
        - chosed_users_id.find{|el| el == u.id}.present? ? display = "display:none" : display = "" if game.id
        %option{value: u.id, id: 'option_user_id_' + u.id.to_s, style: display}
          = u.full_name
  .col-md-1      
    = link_to 'add','#', id: 'add_link', class: 'btn btn-success not-active'

%h3 Users:
%ul{id: 'users_list', class: 'list-group'}
  - GameUser.get_users(params[:id]).each do |gu|
    :javascript
      $("#users_list").append(get_user_li_tag(#{gu.user_id}, '#{gu.user}', true, #{gu.id}))
